* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header {
  background-color: #373a40;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #f2b705;
  color: white;
}

.header-logo > img {
  height: 40px;
  width: 145px;
  margin-left: 30px;
}
.header-location {
  display: flex;
  margin-left: 300px;
  justify-content: space-evenly;
  font-size: 13px;
  color: white;
}
.header-address > p {
  color: white;
}
.header-location > .location-icon > i {
  margin-right: 10px;
  color: #f2b705;
}
.header-email {
  display: flex;
  margin-left: 20px;
  justify-content: space-evenly;
  font-size: 13px;
  color: white;
}
.header-email > .email-icon > i {
  margin-right: 10px;
  color: #f2b705;
}
.header-call {
  display: flex;
  margin-left: 10px;
  justify-content: space-evenly;
  font-size: 13px;
}
.header-call > .phone-icon > i {
  margin-right: 10px;
  margin-left: 20px;
  color: #f2b705;
}
.header-call > .phone-address {
  margin-right: 30px;
  color: white;
}
.location-address,
.email-address > .phone-address,
p {
  color: white;
}

/*-------------header end---------------*/

.section1 {
  background-color: #373a40;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section1 > p > a {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  text-decoration: none;
  margin: 20px;
}
.section1 a:hover {
  background-color: #f2b705;
}

/* ------------dropdown---------*/
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropdown-button {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 20px;
}
.dropdown-button > i {
  color: white;
}
.dropdown,
.dropdown-button:hover {
  color: #f2b705;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363636;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #ffffff;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f2b705;
}
.dropdown:hover .dropdown-content {
  align-items: center;
  display: block;
}
.high-button {
  margin-left: 280px;
  height: 50px;
  width: 220px;
  color: white;
  border: 1px #f2b705;
  border-radius: 8px;
  background-color: #f2b705;
  font-size: medium;
  font-weight: bold;
}
.high-button:hover {
  transform: scale(0.95);
  background-color: #373a40;
  border: 2px solid #f2b705;
}
/*--------------banner----------------------*/
.banner-items {
  height: 960px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner-items > img {
  background-position: 100% 100%;
  background-size: cover;
}
.kenburns-top-right {
  -webkit-animation: kenburns-top-right 5s ease-out both;
  animation: kenburns-top-right 5s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-30 20:29:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top-right
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 1s linear both;
  animation: slide-in-left 1s linear both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-30 20:26:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.para-icon {
  position: absolute;
  top: 50px;
  left: 20px;
  padding: 20px;
  color: #f2b705;
  font-size: 20px;
}
.para-icon > p > i {
  color: #f2b705;
  margin-right: 20px;
  position: static;
}
.para-text1 {
  position: absolute;
  color: white;
  font-size: 80px;
  font-weight: bold;
  top: 100px;
  left: 30px;
}
.para-text2 {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 390px;
  left: 34px;
}
.para-text3 {
  position: absolute;
  color: white;
  background-color: #f2b705;
  font-size: 20px;
  font-weight: bold;
  top: 450px;
  left: 34px;
  border: 1px solid #f2b705;
  border-radius: 5px;
  height: 50px;
  width: 200px;
}
.para-text3 > i {
  color: white;
}
.para-text3:hover {
  transform: scale(0.95);
  background-color: #373a40;
  border: 2px solid #f2b705;
}

.form-bg {
  position: absolute;
  top: 500px;
}
.exp {
  position: relative;
  height: 500px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.bg {
  position: absolute;
  background-color: #f2b705;
  border: 1px solid#f2b705;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    2s both;
  animation: slide-in-right 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-30 18:10:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
}
.content-img > img {
  position: static;
  height: 350px;
  width: 450px;
  margin-top: 85px;
}
.content-table {
  display: inline;
}
.content-table > p {
  position: static;
  margin-top: 35px;
  margin-left: 100px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.table1 {
  position: static;
  margin-top: 30px;
  margin-left: 100px;
  height: 30px;
  width: 240px;
  padding: 3px;
  border: 0.5px solid rgb(143, 138, 138);
  border-radius: 5px;
}
.table2 {
  position: static;
  height: 30px;
  width: 240px;
  margin-left: 10px;
  padding: 3px;
  border: 0.5px solid rgb(143, 138, 138);
  border-radius: 5px;
}
.table-text1 > p {
  position: static;
  margin-top: 10px;
  margin-left: 100px;
  font-size: 15px;
  color: white;
}
.table-text2 > p {
  position: static;
  margin-top: 10px;
  margin-left: 100px;
  font-size: 15px;
  color: white;
}
.table3 {
  position: static;
  margin-top: 10px;
  margin-left: 100px;
  height: 30px;
  width: 240px;
  padding: 3px;
  border: 0.5px solid rgb(143, 138, 138);
  border-radius: 5px;
}
.table4 {
  position: static;
  margin-top: 20px;
  margin-left: 100px;
  height: 30px;
  width: 500px;
  padding: 3px;
  border: 0.5px solid rgb(143, 138, 138);
  border-radius: 5px;
}
.table5 > button {
  position: static;
  margin-left: 100px;
  margin-top: 30px;
  height: 40px;
  width: 200px;
  font-weight: bold;
  background-color: #373a40;
  color: white;
  border: 1px solid #373a40;
  border-radius: 3px;
}
.table5 > button:hover {
  transform: scale(0.95);
  border: 2px solid #373a40;
  background-color: #f2b705;
}

/*----------------banner end------------------*/
.description {
  background-color: white;
  height: 500px;
  display: flex;
  margin-top: 50px;
}
.description1 {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.description1 > .d4 > img {
  height: 50px;
  width: 50px;
  border: 1px solid #f2b705;
  border-radius: 50%;
}
.d1 > i {
  margin-top: 60px;
  margin-right: 20px;
  color: #f2b705;
}
.d1 {
  margin-left: 40px;
  font-size: 20px;
  color: #f2b705;
}
.d2 {
  margin-top: 20px;
  margin-left: 36px;
  font-size: 45px;
  color: black;
  font-weight: bold;
}
.d3 {
  margin-top: 20px;
  margin-left: 36px;
  font-weight: 100;
  color: black;
}
.d4 {
  display: flex;
  margin-top: 40px;
  margin-left: 36px;
  color: black;
}
.d4 > p {
  margin-top: 7px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
}
.d4 > p > span {
  color: #f2b705;
}
.description-img > img {
  height: 450px;
  width: 370px;
  margin-top: 25px;
  margin-left: 30px;
}
.description2 {
  width: 410px;
  display: flex;
  flex-direction: column;
}
.d5 > i {
  font-size: 45px;
  color: #f2b705;
  margin-top: 25px;
  margin-left: 30px;
}
.d5 {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  color: black;
}
.d5 > p {
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-left: 30px;
  color: black;
}
.d5 > p > .d51 {
  font-size: 15px;
  font-weight: 100;
  color: black;
}
.d5 > i {
  font-size: 45px;
  color: #f2b705;
  margin-top: 25px;
  margin-left: 30px;
}
.d6 {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
}
.d6 > p {
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-left: 30px;
  color: black;
}
.d6 > p > .d52 {
  font-size: 15px;
  font-weight: 100;
  color: black;
}
.d6 > i {
  font-size: 45px;
  color: #f2b705;
  margin-top: 25px;
  margin-left: 40px;
}
/*---------------desp1 end--------------*/
.strip {
  background-image: url(strip.png);
  height: 200px;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.strip > p > img {
  height: 80px;
  width: 180px;
}

/*---------strip---------*/
.main {
  background-color: white;
  height: 700px;
  margin-top: 50px;
}
.main-header {
  text-align: center;
  padding-top: 20px;
}
.mh1 > p {
  font-size: 20px;
  color: #f2b705;
}
.mh1 > p > i {
  padding-right: 10px;
  color: #f2b705;
}
.mh2 > p {
  font-size: 50px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
}
.mh3 > p {
  font-size: 15px;
  margin-top: 15px;
  color: black;
}

.main {
  background-color: white;
  height: 700px;
}
.main-header {
  text-align: center;
  padding-top: 20px;
}
.mh1 > p {
  font-size: 20px;
  color: #f2b705;
}
.mh1 > p > i {
  padding-right: 10px;
  color: #f2b705;
}
.mh2 > p {
  font-size: 50px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
}
.mh3 > p {
  font-size: 15px;
  margin-top: 15px;
  color: black;
}

.main {
  background-color: white;
  height: 700px;
}
.main-header {
  text-align: center;
  padding-top: 20px;
}
.mh1 > p {
  font-size: 20px;
  color: #f2b705;
}
.mh1 > p > i {
  padding-right: 10px;
  color: #f2b705;
}
.mh2 > p {
  font-size: 50px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
}
.mh3 > p {
  font-size: 15px;
  margin-top: 15px;
  color: black;
}

.box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.box1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 500px;
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 3px 3px 40px rgb(165, 164, 164);
}
.box11-1 > img {
  height: 250px;
  width: 100%;
}
.box12 {
  display: flex;
  flex-direction: row;
}
.box-12-1-1 > p {
  font-size: 25px;
  color: black;
  font-weight: 600;
  margin-left: 15px;
}
.box-12-1-2 > p {
  font-size: 20px;
  color: #f2b705;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 20px;
}
.box-12-2-1 > p {
  font-size: 17px;
  color: rgb(43, 42, 42);
  margin-left: 30px;
  margin-top: 5px;
}
.box-12-2-1 > p > i {
  color: #f2b705;
  margin-right: 10px;
}
.box-12-2-2 > p {
  font-size: 17px;
  color: rgb(43, 42, 42);
  margin-left: 35px;
  margin-top: 15px;
}
.box-12-2-2 > p > i {
  color: #f2b705;
  margin-right: 10px;
}
.box13 > button {
  background-color: #f2b705;
  height: 40px;
  width: 300px;
  margin-left: 40px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #f2b705;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.box13 > button:hover {
  background-color: white;
  border: 2px solid #f2b705;
  transform: scale(0.9);
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.box2 {
  display: flex;
  flex-direction: column;
  background-color: #f2b705;
  border-radius: 20px;
  height: 500px;
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 3px 3px 40px rgb(165, 164, 164);
}
.box21-1 > img {
  height: 250px;
  width: 100%;
}
.box22 {
  display: flex;
  flex-direction: row;
}
.box-22-1-1 > p {
  font-size: 25px;
  color: black;
  font-weight: 600;
  margin-left: 15px;
}
.box-22-1-2 > p {
  font-size: 20px;
  color: #373a40;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 20px;
}
.box-22-2-1 > p {
  font-size: 17px;
  color: white;
  margin-left: 30px;
  margin-top: 5px;
}
.box-22-2-1 > p > i {
  color: #373a40;
  margin-right: 10px;
}
.box-22-2-2 > p {
  font-size: 17px;
  color: white;
  margin-left: 35px;
  margin-top: 15px;
}
.box-22-2-2 > p > i {
  color: #373a40;
  margin-right: 10px;
}
.box23 > button {
  background-color: #373a40;
  height: 40px;
  width: 300px;
  margin-left: 40px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #f2b705;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.box23 > button:hover {
  background-color: #f2b705;
  border: 2px solid #373a40;
  transform: scale(0.9);
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.box3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 500px;
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 3px 3px 40px rgb(165, 164, 164);
}
.box31-1 > img {
  height: 250px;
  width: 100%;
}
.box32 {
  display: flex;
  flex-direction: row;
}
.box-32-1-1 > p {
  font-size: 25px;
  color: black;
  font-weight: 600;
  margin-left: 15px;
}
.box-32-1-2 > p {
  font-size: 20px;
  color: #f2b705;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 20px;
}
.box-32-2-1 > p {
  font-size: 17px;
  color: rgb(43, 42, 42);
  margin-left: 30px;
  margin-top: 5px;
}
.box-32-2-1 > p > i {
  color: #f2b705;
  margin-right: 10px;
}
.box-32-2-2 > p {
  font-size: 17px;
  color: rgb(43, 42, 42);
  margin-left: 35px;
  margin-top: 15px;
}
.box-32-2-2 > p > i {
  color: #f2b705;
  margin-right: 10px;
}
.box33 > button {
  background-color: #f2b705;
  height: 40px;
  width: 300px;
  margin-left: 40px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #f2b705;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.box33 > button:hover {
  background-color: white;
  border: 2px solid #f2b705;
  transform: scale(0.9);
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.info {
  background-color: white;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-1 {
  background-color: #ffffff;
  height: 450px;
  width: 33%;
}
.info-1 > img {
  height: 400px;
  width: 100%;
  margin-top: 50px;
}

.info-2-header {
  background-color: #f2b705;
  border-radius: 10px;
  width: 90%;
  height: 70px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.info-2-header-font > i {
  font-size: 50px;
  margin-top: 10px;
  margin-left: 80px;
  color: white;
}
.info-2-header-text-1 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.info-2-header-text-2 {
  font-size: 15px;
  margin-top: 3px;
  margin-left: 30px;
  color: white;
  font-weight: 600;
}
.info-2-desp-1 > p {
  color: #f2b705;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: 600;
}
.info-2-desp-2 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-21 {
  width: 80%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-21 > p {
  margin-left: 85%;
}
.info-2-desp-3 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-31 {
  width: 75%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-31 > p {
  margin-left: 85%;
}
.info-2-desp-4 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-41 {
  width: 95%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-41 > p {
  margin-left: 90%;
}
.info-2-desp-5 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-51 {
  width: 80%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-51 > p {
  margin-left: 85%;
}
.info-2-desp-6 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-61 {
  width: 90%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-61 > p {
  margin-left: 90%;
}
.info-31 > p {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  color: #f2b705;
  font-weight: 400;
}
.info-31 > p > i {
  color: #f2b705;
  margin-right: 20px;
}
.info-32 > p {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 40px;
  color: #373a40;
}
.info-33 > p {
  color: #373a40;
  width: 350px;
  margin-top: 20px;
  margin-left: 40px;
}
.info-34 > button {
  background-color: #f2b705;
  height: 40px;
  width: 200px;
  margin-left: 40px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #f2b705;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.info-34 > button:hover {
  background-color: white;
  border: 2px solid #f2b705;
  transform: scale(0.9);
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.info-2 {
  background-color: #ffffff;
  height: 450px;
  width: 33%;
  margin-left: 10px;
  margin-right: 10px;
}
.info-3 {
  background-color: #ffffff;
  height: 450px;
  width: 33%;
}
.box3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 450px;
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
}

/*------------box end------------*/

.strip-2 {
  background-image: url(strip-21.png);
  height: 350px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.st1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 80px;
}
.st2 {
  font-size: 15px;
  width: 600px;
  margin-top: 40px;
  margin-left: 80px;
}
.strip2-button {
  margin-top: 40px;
  margin-left: 80px;
  width: 200px;
}
.strip2-button > button {
  width: 200px;
  height: 40px;
  background-color: #f2b705;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.strip2-button > button:hover {
  background-color: transparent;
  border: 2px solid #373a40;
  transform: scale(0.95);
}
.strip-22 > img {
  width: 300px;
  height: 350px;
  margin-left: 200px;
}

/*-----------strip-2 end---------------*/

.info {
  background-color: white;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.info-1 {
  background-color: #ffffff;
  height: 450px;
  width: 33%;
}
.info-1 > img {
  height: 400px;
  width: 100%;
  margin-top: 50px;
}

.info-2-header {
  background-color: #f2b705;
  border-radius: 10px;
  width: 90%;
  height: 70px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.info-2-header-font > i {
  font-size: 50px;
  margin-top: 10px;
  margin-left: 80px;
  color: white;
}
.info-2-header-text-1 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.info-2-header-text-2 {
  font-size: 15px;
  margin-top: 3px;
  margin-left: 30px;
  color: white;
  font-weight: 600;
}
.info-2-desp-1 > p {
  color: #f2b705;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: 600;
}
.info-2-desp-2 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-21 {
  width: 80%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-21 > p {
  margin-left: 85%;
}
.info-2-desp-3 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-31 {
  width: 75%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-31 > p {
  margin-left: 85%;
}
.info-2-desp-4 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-41 {
  width: 95%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-41 > p {
  margin-left: 90%;
}
.info-2-desp-5 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-51 {
  width: 80%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-51 > p {
  margin-left: 85%;
}
.info-2-desp-6 {
  background-color: #8a8a8a;
  width: 350px;
  height: 20px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  overflow: hidden;
}
.info-2-desp-61 {
  width: 90%;
  height: 20px;
  background-color: #373a40;
}
.info-2-desp-61 > p {
  margin-left: 90%;
}
.info-31 > p {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  color: #f2b705;
  font-weight: 400;
}
.info-31 > p > i {
  color: #f2b705;
  margin-right: 20px;
}
.info-32 > p {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 40px;
  color: #373a40;
}
.info-33 > p {
  color: #373a40;
  width: 350px;
  margin-top: 20px;
  margin-left: 40px;
}
.info-34 > button {
  background-color: #f2b705;
  height: 40px;
  width: 200px;
  margin-left: 40px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #f2b705;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.info-34 > button:hover {
  background-color: white;
  border: 2px solid #f2b705;
  transform: scale(0.9);
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.info-2 {
  background-color: #ffffff;
  height: 450px;
  width: 33%;
  margin-left: 10px;
  margin-right: 10px;
}
.info-3 {
  background-color: #ffffff;
  height: 450px;
  width: 33%;
}
.box3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 500px;
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
}
.testimonials {
  background-color: white;
  height: 450px;
  margin-top: 100px;
}
.testimonials-1-1 > p {
  margin-left: 20px;
  padding: 20px;
  color: #f2b705;
  font-size: 20px;
}
.testimonials-1-1 > p > i {
  color: #f2b705;
  margin-right: 20px;
}
.testimonials-2 {
  display: flex;
  flex-direction: row;
}
.testimonials-2-1 > p {
  font-size: 50px;
  margin-left: 40px;
  color: #373a40;
  font-weight: bold;
}
.testimonials-2-2 > p {
  font-size: 14px;
  width: 70%;
  margin-left: 200px;
  margin-top: 30px;
  color: #373a40;
}
.testimonials-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.test-box1 {
  background-color: white;
  width: 30%;
  height: 200px;
  margin-top: 20px;
  border-radius: 15px;
  border-bottom: 4px solid #f2b705;
  box-shadow: 1px 1px 5px rgb(165, 164, 164);
}
.test-box1-1 > p {
  width: 100%;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.test-box1-2 {
  display: flex;
  flex-direction: row;
}
.test-img > img {
  height: 50px;
  width: 50px;
  border: 1px solid #f2b705;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 20px;
}
.test-desp > p {
  color: black;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
}
.test-desp > p > span {
  color: #f2b705;
}
.test-box2 {
  background-color: white;
  width: 30%;
  height: 200px;
  margin-top: 20px;
  border-radius: 15px;
  border-bottom: 4px solid #f2b705;
  box-shadow: 1px 1px 5px rgb(165, 164, 164);
}
.test-box3 {
  background-color: white;
  width: 30%;
  height: 200px;
  margin-top: 20px;
  border-radius: 15px;
  border-bottom: 4px solid #f2b705;
  box-shadow: 1px 1px 5px rgb(165, 164, 164);
}

/*------------------testmonial end-----------------------*/

.advert {
  background-color: white;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}
.advert-1 {
  background-color: white;
  height: 600px;
  width: 47%;
}
.advert-1 > img {
  height: 600px;
  width: 100%;
}
.advert-2 {
  background-color: white;
  height: 600px;
  width: 47%;
}
.advert-2-2 > p {
  font-size: 40px;
  color: #373a40;
  font-weight: bold;
  margin-left: 40px;
}
.advert-2-3 > p {
  color: #373a40;
  margin-left: 40px;
  margin-top: 15px;
}

.advert-2-4 {
  display: flex;
  flex-direction: row;
}
.advert-2-4-1 > p > i {
  font-size: 50px;
  color: #f2b705;
  margin-left: 50px;
  margin-top: 40px;
}
.advt-1 {
  color: #373a40;
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 30px;
}
.advt-2 {
  color: #373a40;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 30px;
}

/*------- advert end-------------*/
.articles {
  background-color: white;
  height: 550px;
  margin-top: 80px;
}
.articles-1-1 > p {
  margin-left: 20px;
  padding: 20px;
  color: #f2b705;
  font-size: 20px;
}
.articles-1-1 > p > i {
  color: #f2b705;
  margin-right: 20px;
}
.articles-2 {
  display: flex;
  flex-direction: row;
}
.articles-2-1 > p {
  font-size: 50px;
  margin-left: 40px;
  color: #373a40;
  font-weight: bold;
  width: 100%;
}
.articles-2-2 > p {
  font-size: 14px;
  width: 70%;
  margin-left: 200px;
  margin-top: 30px;
  color: black;
}
.articles-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.articles-test-box1 {
  background-color: white;
  width: 30%;
  height: 340px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(165, 164, 164);
}
.articles-test-box1 > img {
  width: 100%;
  height: 230px;
  background-size: contain;
  border-radius: 15px;
}
.articles-test-box1 > img:hover {
  filter: grayscale(100%);
}

.articles-test-box1-1 > p {
  color: #373a40;
  font-weight: 600;
  margin-left: 20px;
  font-size: 20px;
}
.articles-test-box1-2 > p {
  color: #f2b705;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 15px;
}
.articles-test-box2 {
  background-color: white;
  width: 30%;
  height: 340px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(165, 164, 164);
}
.articles-test-box2 > img {
  width: 100%;
  height: 230px;
  background-size: cover;
  border-radius: 15px;
}
.articles-test-box2 > img:hover {
  filter: grayscale(100%);
}
.articles-test-box2-1 > p {
  color: #373a40;
  font-weight: 600;
  margin-left: 20px;
  font-size: 20px;
}
.articles-test-box2-2 > p {
  color: #f2b705;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 15px;
}
.articles-test-box3 {
  background-color: white;
  width: 30%;
  height: 340px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(165, 164, 164);
}
.articles-test-box3 > img {
  width: 100%;
  height: 230px;
  background-size: cover;
  border-radius: 15px;
}
.articles-test-box3 > img:hover {
  filter: grayscale(100%);
}
.articles-test-box3-1 > p {
  color: black;
  font-weight: 600;
  margin-left: 20px;
  font-size: 20px;
}
.articles-test-box3-2 > p {
  color: #f2b705;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 15px;
}

footer {
  background-color: #373a40;
  color: white;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.footer-1 > p > img {
  width: 250px;
  height: 80px;
  margin-top: 40px;
  margin-left: 40px;
}
.footer-1-1 > p {
  width: 70%;
  margin-left: 40px;
  margin-top: 20px;
  color: rgb(217, 217, 217);
}
.footer-1-2 > p {
  margin-left: 35px;
}
.footer-1-2 > p > i {
  font-size: 30px;
  color: #f2b705;
  padding-left: 15px;
  padding-top: 60px;
}
.footer-2-1 > p {
  font-size: 20px;
  margin-right: 300px;
  margin-top: 40px;
  width: 100%;
  font-weight: 600;
  border-bottom: 2px solid #f2b705;
  border-bottom-style: dotted;
}
.footer-2-2 > p {
  margin-top: 40px;
  margin-left: 5px;
  font-weight: 600;
  color: white;
}
.footer-2-2 > p:hover {
  color: #f2b705;
}

.footer-2-2 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-2-3 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-2-3 > p:hover {
  color: #f2b705;
}

.footer-2-3 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-2-4 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-2-4 > p:hover {
  color: #f2b705;
}

.footer-2-4 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-2-5 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-2-5 > p:hover {
  color: #f2b705;
}

.footer-2-5 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-3-1 > p {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 300px;
  margin-top: 40px;
  width: 100%;
  font-weight: 600;
  border-bottom: 2px solid #f2b705;
  border-bottom-style: dotted;
}
.footer-3-2 > p {
  margin-top: 40px;
  margin-left: 5px;
  font-weight: 600;
  color: white;
}
.footer-3-2 > p:hover {
  color: #f2b705;
}

.footer-3-2 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-3-3 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-3-3 > p:hover {
  color: #f2b705;
}

.footer-3-3 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-3-4 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-3-4 > p:hover {
  color: #f2b705;
}

.footer-3-4 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-3-5 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-3-5 > p:hover {
  color: #f2b705;
}

.footer-3-5 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-3-6 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-3-6 > p:hover {
  color: #f2b705;
}

.footer-3-6 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}
.footer-3-7 > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.footer-3-7 > p:hover {
  color: #f2b705;
}

.footer-3-7 > p > i {
  margin-right: 10px;
  background-color: #f7ca46;
  border-radius: 50%;
  padding: 2px;
  font-size: 16px;
  color: #323232;
}

.footer2 {
  background-color: #373a40;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #f2b705;
  align-items: center;
  font-weight: 600;
}
.footer21 > p {
  margin-right: 20px;
  margin-left: 40px;
}
.footer23 {
  margin-left: 500px;
}
